// Colors
$primary-bg: #212529;
$primary-color: #fff;
$border-radius-xl: 1rem;
$heading-color: #dee2e6;

// Typography
$font-family: var(--ff-1);
$h4-size: clamp(1.275rem, 1.3vw, 1.5rem);
$h6-size: 1rem;
