$primaryColor: #4527a4;

.bBlocksInspectorInfo {
	padding: 6px;

	a {
		text-decoration: none;
		font-weight: 700;
	}
}

.wp-block-b-blocks-testimonials-pro{
	.selectHelp{
		color: #616063;
	}

	
}


.components-form-token-field__token{
	.components-form-token-field__token-text{
		background-color: #4527a4;
		color: white;
	}
	.components-button {
		background-color: #4527a4;
		color: white;
	}
}

.components-grid, .ef-ae--e-fedae-swvjq{
	margin-top: 10px;
}